#root{
    background-color: rgb(222, 222, 222);
}
.heading{
    align-items: center;
    background-color: #F3851D;
    margin-bottom: 2%;
}
.heading h2{
    font-size: 76px;
    font-weight: 700;
    text-align: center;
    color: rgb(255, 255, 255);
    padding: 15px;

}
.onlyheadingtxt{
    font-weight: normal;
}
.onlyheadingtxt p{
    font-size: 20px;
    color: #0A2640;
    width: 90vw;
    margin-left: 5vw;
    font-weight: 500;
   }
   .content1{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10vh;
   }
   .content1txt {
    width: 55vw;
   }
   .content1txt p{
    text-wrap: wrap;
    font-size: 20px;
    color: #0A2640;
    font-weight: 500;
   }
   .content1txt ul{
    text-wrap: wrap;
    font-size: 17px;
    color: #0A2640;
   }
   .content1 img{
    height: 30vh;
    width: 23vw;
   }
   .onlyimg{
    display: flex;
    justify-content: center;
    margin-top: 5vh;
    margin-bottom: 5vh;
   }
    
   @media screen and (min-width:320px)
   and (max-width:480px) {
    .heading h2{
        font-size: 50px;
    }
    .onlyheadingtxt p{
        font-size: 14px;
    }
    .content1txt ul{
        font-size: 12px;
    }
    .content1 {
        flex-direction: column-reverse;
        margin-bottom: 5vh;
    }
    .content1txt{
        width: 90vw;
        margin-right: 15px;
        margin-top: 20px;
    }
    .content1txt p{
        font-size: 15px;
        width: 75vw;
        margin-left: 43px;
    }
    .content1 img{
        height: 20vh;
        width: 70vw;
        margin-top: 15px;
    }
    .onlyimg img{
        width: 90vw;
        height: 40vh;
    }
   }
   @media screen and (min-width:480px)
   and (max-width:768px){
    .heading h2{
        font-size: 55px;
    }
    .onlyheadingtxt p{
        font-size: 15px;
    }
    .content1txt ul{
        font-size: 15px;
    }
    .content1 {
        flex-direction: column-reverse;
        margin-bottom: 5vh;
    }
    .content1txt{
        width: 90vw;
        margin-right: 15px;
        margin-top: 20px;
    }
    .content1txt p{
        font-size: 15px;
        width: 82vw;
        margin-left: 50px;
    }
    .content1 img{
        height: 25vh;
        width: 70vw;
        margin-top: 15px;
    }
    .onlyimg img{
        width: 90vw;
        height: 40vh;
    }
   }
   @media screen and (min-width:768px)
   and (max-width:1024px){
    .heading h2{
        font-size: 65px;
    }
    .onlyheadingtxt p{
        font-size: 16px;
    }
    .content1txt ul{
        font-size: 13px;
    }
    .content1 {
        flex-direction: row;
        margin-bottom: 5vh;
    }
    .content1txt{
        width: 50vw;
        margin-right: 15px;
        margin-top: 20px;
    }
    .content1txt p{
        font-size: 15px;
        width: 50vw;
        margin-left: 50px;
    }
    .content1 img{
        height: 25vh;
        width: 30vw;
        margin-top: 15px;
    }
    .onlyimg img{
        width: 90vw;
        height: 50vh;
    }
   }
   @media screen and (min-width:1024px)
   and (max-width:1200px){
    .heading h2{
        font-size: 65px;
    }
    .onlyheadingtxt p{
        font-size: 16px;
    }
    .content1txt ul{
        font-size: 13px;
    }
    .content1 {
        flex-direction: row;
        margin-bottom: 5vh;
    }
    .content1txt{
        width: 50vw;
        margin-right: 15px;
        margin-top: 20px;
    }
    .content1txt p{
        font-size: 15px;
        width: 50vw;
        margin-left: 50px;
    }
    .content1 img{
        height: 25vh;
        width: 30vw;
        margin-top: 15px;
    }
    .onlyimg img{
        width: 90vw;
        height: 50vh;
    }
   }