@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');
.imginfo{
    width: 100vw;
    height: 52vh;
}
.slide{
    position: relative;
}

.maindata{
    display: flex;
    width: 100vw;
    flex-direction: column;
    margin-top: 50px;
    margin-left: 21%;
    margin-right: 21%;
    text-align: center;
    align-items: center;
}
.div{
    background-color: rgb(222, 222, 222);
}
.headingMainData{
color: black;
font-family: Montserrat;
font-style: normal;
font-weight: 800;
text-align: center;
line-height: 50px; 
}

.headingMainData h2{
    font-size: 56px;

}
.dataMainData{
color: #515354;
font-family: Open Sans;

}
.dataMainData p{
font-size: 26px;
line-height: 38px; 
font-weight: 500;
text-align: justify;
margin-bottom: 5%;
}

.btnMainData{
display: inline;
gap: 8px;
border-radius: 50px;
border: 2px solid black;
background: transparent;
width: 190px;
}

.a{
color:#14242C;
font-weight: 500;
}
.btnMainData :hover{
    border: 2px solid black;
    background: black;
    color:  white;
    border-radius: 50px;
}
.leftorange{
    width: 10px;
    background-color: orange;
    height: 573px;
    flex-shrink: 0;
    justify-content: left;
}
.rightorange{
    width: 10px;
    height: 573px;
    flex-shrink: 0;
    background-color: orange;
    justify-content: right;
}
.data{
    display: flex;
    margin-top: 35px;
    
}
h1{
    background-color: #0A2640;
}
.maindiv{
    display: flex;
    width: 100vw;
    flex-direction: column;
    margin-top: 70px;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.navigate{
    position: relative;
    color: black;
    display: flex;
    justify-content: right ;
}
.lefright{
    display: flex;
    justify-content: right ;
    margin-right: 2rem;
}
.navigate button{
    font-size: 30px;
    padding: 10px;
    background: transparent;
    border: none;
}

.newsHeading h2{
color: black;
font-family: Montserrat;
font-size: 54px;
font-style: normal;
font-weight: 600;
line-height: 50px;
}

.newsbox{
    width: 1141.236px;
    height: 441px;
    flex-shrink: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 50px;
    align-items: center;
}
.newsbox1{
width: 509.118px;
height: 160.951px;
flex-shrink: 0;
background: #F3851D;
}

.topic{
    display: flex;
    width: 509px;
    height: 110px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
}

.btnnewsData{
border: 2px solid #FFF;
background: #FEFEFE;
display: block;
gap: 8px;
border-radius: 5px;
width: 180px;
margin-left: 35%;
}

.btnnewsData a{
    color: #14242C;
}
.btnnewsData:hover{
border: 2px solid #14242C;
background: #14242C;
}

.nav-link:hover {
    color: white;
}

.navigate{
    margin-right: 18%;
}

.imgarticle img{
width: 200px;
height: 200px;
}

/* Articles and Blogs */
.blogarticle{
    position: relative;
    width: 100vw;
    height: 55vh;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    background-color: #14242C;
    align-items: center;
    flex-wrap: wrap;
}

.articles{
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 500px;
    
}
.headingarticle{
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 54px;
    font-style: normal;
    font-weight: 400;
}
.imgarticle{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.imgarticle img{
    width: 360px;
    height: 285px;
}
.blogbutton{
    margin-top: -35px;
    margin-bottom: 5px
}

.imgarticle button{
    width: 40px;
    border-radius: 100%;
    margin-right: 5px;
    margin-left: 5px;
    background-color: #515354;
    font-weight: 800;
    color: white;
    
}
.topicarticle{
    width: 300px;
    height: 120px;
    background-color: #3B4858;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}
.topicarticle p{
    color:white;
}

.topicarticle a{
    border: 2px solid #FFF;
    background: #FEFEFE;
    display: block;
    gap: 8px;
    border-radius: 5px;
    width: 90px;
    font-size: 12px;
    color: black;
    text-decoration: none;
}
.topicarticle a:hover{
    background: rgb(0, 0, 0);
    border: 2px solid black;
    color: white;

}

.blogs{
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 500px;   
}

.pHeading{
    color: #000000;
    font-family: Montserrat;
   
}

.pHeading h2{
    font-size: 55px;
    font-style: normal;
    font-weight: 500;
    text-transform: uppercase;
    color: white;
}
.pbox{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    flex-wrap: wrap;
}
.pbox img{
    width: 300px;
    height: 220px;
}
.imgp{
    width: 300px;
    height: 230px;
}
.imgp img{
    border-radius: 15% 15% 0 0;
}
.Ptopic{
    color: #212529cc;
    font-size: 21px;
    font-family: Montessarat;
    font-weight: 600;
    text-decoration: underline;
    width: 290px;
}
.Particle{
    color: #14242C;
    font-family: Montessarat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.75px;
    text-align: justify;
    width: 250px;
}
.pbox1{
    background: white;
    border-radius: 15% 15% 10% 10%;
    width:300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    height: 55vh;
    margin-right: 40px;
}
.btnpData a{
    border: 2px solid #000000;
    background: #000000;
    display: block;
    gap: 8px;
    border-radius: 5px;
    width: 100px;
    font-size: 12px;
    color: rgb(253, 253, 253);
    text-decoration: none;
    margin-bottom: 10px;
}

.btnpData a:hover{
    border: 2px solid #010835a9;
    background: #010835a9;
    color: rgb(255, 255, 255);
}
.pmaindiv{
    background-color: #F3851D;
    padding: 2rem;
}
.navigatediv{
    background-color: #F3851D;
}

.installappbox{
    background-color: #F3851D;
}
.ourcontact{
    background-color: #0A2640;
}
.maindivc{
    display: flex;
    background-color: #0A2640;
    width: 100vw;
    flex-direction: column;
    color: white;
    margin-top: 70px;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.contactbox{
    width: 1141.236px;
    height: 441px;
    flex-shrink: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 50px;
    align-items: center;
}
.contactbox1{
width: 509.118px;
height: 160.951px;
flex-shrink: 0;
background-color: #0A2640;
}

.ctopic{
    display: flex;
    width: 509px;
    height: 110px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
}

@media (min-width: 320px)
and (max-width:480px) {
    #root{
        overflow-x: hidden;
    }
    .imginfo{
        width:100vw;
        height: 42vh;
    }
    .headingMainData h2{
        font-size: 35px;
    }
    .newsHeading h2{
        font-size: 25px;
    }
    .newsbox{
        margin-left: 39%;
        margin-right: 41%;
        width: 130px;
        height: 75vh;
    }
    .newsbox1{
        width: 360px;
        height: 145px;
    }
    .topic{
        width: 360px;
        height: 100px;
        font-weight: 300;
        line-height: 20px;
        font-size: 13px;
    }
    .data{
        width: 69vw;
    }
    .leftorange{
        width: 4px;
        height: 350px;
    }
    .rightorange{
        width: 4px;
        height: 350px;
    }
    .dataMainData p{
        line-height: 25px;
        font-size: 16px;
        text-align: justify;
    }
    .maindata{
        margin-top: 0px;
    }
    .btnMainData{
        width: 130px;
    }
    .btnMainData .a{
            font-size: 12px;
    }
    .btnnewsData{
        width:120px;
        margin-left: 34%;
    }
    .btnnewsData a{
        font-size: 10px;
    }
  
} 


@media (min-width: 480px)
    and (max-width:768px){
    #root{
        overflow-x: hidden;
    }
.imginfo{
    width: 100vw;
}
.headingMainData h2{
    font-size: 40px;
}
.dataMainData p{
    font-size: 17px;
    line-height: 27px;
}
.maindata{
    margin-left: 15%;
    margin-right: 15%;
}

.newsHeading h2{
    font-size: 30px;
}
.newsbox{
    width:1000px;
    height: 90vh;
    margin-top: 0px;
}
.newsbox1{
    width: 520px;
    height: 176px;
}
.topic{
    font-size:14px;
}
.pmaindiv {
    display: flex;
    justify-content: center;
}
.maindiv{
    width: 100vw;
    margin-top: 0px;
}
.navigate{
    justify-content: flex-end;
    margin-right: -35%;
}

.btnnewsData{
    width: 135px;
}
.btnnewsData a{
    font-size: 12px;
}
}
@media (min-width: 768px)
and (max-width:1024px) {
    #root{
        overflow-x: hidden;
    }
.imginfo{
    width: 100vw;
    height: 40vh;
}
.headingMainData h2{
    font-size: 50px;
}
.dataMainData p{
    font-size: 20px;
    line-height: 27px;
}
.maindata{
    margin-left: 15%;
    margin-right: 15%;
}

.newsHeading h2{
    font-size: 30px;
}
.newsbox{
    width:100vw;
    height: 80vh;
    margin-top: 0px;
}
.newsbox1{
    width: 600px;
    height: 176px;
}
.topic{
    font-size:18px;
}
.maindiv{
    width: 100vw;
    margin-top: 0px;
}
.navigate{
    justify-content: flex-end;
    margin-right: -35%;
}

.btnnewsData{
    width: 135px;
}
.btnnewsData a{
    font-size: 12px;
}
}


@media (min-width: 320px)
and (max-width:480px) {
    .imgarticle img{
    width: 300px;
    height: 185px;
    }
    .topicarticle p {
        font-size: 12px;
    }
    .topicarticle{
        width: 225px;
        height: 100px;
    }
    .articles{
        height: 355px;
    }

    .blogs{
        height: 355px;
    }
    .blogarticle{
        height: 85vh;
    }
    .pHeading h2{
        font-size: 35px;
    }
    .maindiv{
        margin-top: 0px;
    }
    .pmaindiv{
        display: flex;
        justify-content: center;
    }
    .pbox1{
        margin-right: 0px;
        margin-bottom: 20px;
    }
    .Ptopic{
        font-size: 14px;
    }
    .Particle{
        font-size: 13px;
        line-height: 15px;
    }
    }
    @media (min-width: 480px)
    and (max-width:768px) {
        .imgarticle img{
            width: 200px;
            height: 165px;
        }
        .topicarticle p {
            font-size: 12px;
        }
        .topicarticle{
            width: 160px;
            height: 100px;
        }
        .articles{
            height: 300px;
            width: 250px;
        }
        .blogs{
            height: 300px;
            width: 250px;
        }
        .pHeading h2{
            font-size: 35px;
        }
        .pbox1{
            margin-right: 35px;
            margin-bottom: 20px;
            margin-left: 50px;
        }
        .Ptopic{
            font-size: 14px;
        }
        .Particle{
            font-size: 13px;
            line-height: 15px;
        }
        .navigate{
            margin-right: 0px;
        }

    }

    @media (min-width: 768px)
    and (max-width:1024px) {
        .imgarticle img{
            width: 265px;
            height: 200px;
        }
        .topicarticle p {
            font-size: 13px;
        }
        .topicarticle{
            width: 235px;
            height: 100px;
        }
        .articles{
            height: 340px;
            width: 320px;
        }
        .blogs{
            height: 340px;
            width: 320px;
        }
        .pHeading h2{
            font-size: 45px;
        }
        .pbox1{
            height: 55vh;
            margin-right: 60px;
            margin-bottom: 20px;
            margin-left: 65px;
        }
        .maindiv{
            margin-top: 20px;
        }
        .navigate{
            margin-right: 210px;
        }

    }

    /*  enhancements */
    .enhanceheading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 34px;
    }
    
    .enhanceheading h2{
        color: #000000;
        font-family: Montserrat;
        font-size: 55px;
        font-style: normal;
        font-weight: 800;
    }
    .enhanceheading p{
        font-size: 18px;
        color: #0A2640;
        font-weight: 500;
    }
    .enhanceimgtxt{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 25px;
    height: 60vh;

    }
    .enhanceimg img{
        width: 50vh;
        height: 50vh;
    }
    .enhancetxt{
        margin-left: 45px;
    }
    .enhancetxt ol{
        width: 30vw;
    }
    .enhancetxt li{
        font-size: 23px;
        color: #0A2640;
        font-weight: 500;
    }
    .installappbox{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    }
    .installapp{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .appheading h2{
        color: #ffffff;
        font-family: Montserrat;
        font-size: 55px;
        font-style: normal;
        font-weight: 800;
    }
    .appcards{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 85px;
    }
    .appcard1{
    display: flex;
    flex-direction: column;
    background: white;
    width: 25vw;
    border-radius: 50px;
    height: 45vh;
    margin-right: 45px;
    }
    .appcard1 img{
        width: 310px;
        height: 210px;
        margin-top: -105px;
    }
    .appcard1 a{
        height: 13vh;
    }
    .appcard1 h3{
        color: #0A2640;
        font-family: Montserrat;
        font-size: 35px;
        font-style: normal;
        font-weight: 500;
    }
    .appcard1 ul{
        color: #000;
        font-family: Montserrat;
        font-size: 15px;
        line-height: 20px; 
        letter-spacing: 0.1px;
        text-align: left;
        width: 25vw;
    }
    .appcard2{
    display: flex;
    flex-direction: column;
    background: white;
    width: 25vw;
    border-radius: 50px;
    height: 45vh;
    }
        .appcard2 img{
            width: 165px;
            height: 130px;
            margin-top: -39px;
        }
        .appcard2 h3{
            color: #0A2640;
            font-family: Montserrat;
            font-size: 35px;
            font-style: normal;
            font-weight: 500;
        }
        .appcard2 a{
            height: 13vh;
        }
        .appcard2 ul{
            color: #000;
            font-family: Montserrat;
            font-size: 15px;
            line-height: 20px; 
            letter-spacing: 0.1px;
            text-align: left;
            width: 25vw;
        }

        .maindivc{
            margin-top: 0px;
            background-color: #14242C;
        }
        .contactHeading h1{
            color: #FFF;
            font-family: Montserrat;
            font-size: 48px;
            font-style: normal;
            font-weight: 800;
            background-color: #14242C;
            text-transform: uppercase;
        }
        .ctopic{
            line-height: 25px;
            text-align: left;
            font-weight: 200;
        }
        .contactbox1{ 
            background-color:#14242C ;
        }
        .ctopic h3{
            font-size: 20px;
        }
        .ctopic p{
            font-size: 15px;
        }
        .ourcontact{
            display: flex;
            justify-content: center;
        }
        .contactHeading{
            margin-top: 20px;
        }

        @media (min-width: 320px)
        and (max-width:480px){
    .enhanceheading h2{
        font-size: 28px;
    }
    .enhanceheading p {
        font-size: 12px;
    }
    .enhanceimgtxt{
        flex-direction: column;
        height: 80vh;
        margin-top: 0px;
    }
    .enhanceimg img{
    width: 90vw;
    height: 40vh;
    }
    .enhancetxt{
        margin-left: 0px;
        margin-top: 20px;
    }
    .enhancetxt ol{
        width: 92vw;
    }
    .appheading h2{
        font-size: 22px;
        margin-top: 25px;
    }
    .appcards{
        flex-direction: column;
        flex-wrap: wrap;
    }
    .appcard1{
        width: 80vw;
        margin-right: 0px;
        margin-bottom: 50px;
    }
    .appcard1 a{
        height: 10vh;
    }
    .appcard1 img{
        width: 253px;
    height: 173px;
    margin-top: -89px;
    }
    .appcard1 h3{
        font-size: 25px;
    }
    .appcard1 ul{
        font-size: 12px;
        width: 70vw;
        line-height: 15px;
    }
    .appcard2{
        width: 80vw;
        margin-right: 0px;
    }
    .appcard2 a{
        height: 10vh;
    }
    .appcard2 img{
        width: 134px;
        height: 109px;
        margin-top: -33px;
    }
    .appcard2 h3{
        font-size: 25px;
    }
    .appcard2 ul{
        font-size: 12px;
        width: 70vw;
        line-height: 15px;
    }
    .installappbox{
        height: 120vh;
    }
    .contactHeading h1{
        font-size: 30px;
    }

    .contactbox{
        width: 72vw;
        height: 50vh;
        margin-left:150px ;
        margin-top: 0px;
    }
    .ctopic{
        line-height: 10px;
    }
    .ctopic h3{
        font-size: 15px;
    }
    .ctopic p {
        font-size: 12px;
    }
    .contactbox1{
        height: 5vh;
    }
}

@media (min-width: 480px)
and (max-width:768px){

    .enhanceheading h2{
        font-size: 35px;
    }
    .enhanceheading p {
         font-size: 14px;
    }
    .enhanceimgtxt{
        flex-direction: column;
        height: 80vh;
        margin-top: 10px;
    }
    .enhancetxt{
        margin-left: 0px;
        margin-top: 15px;
    }
    .enhancetxt ol{
        width: 85vw;
    }
    .enhancetxt ol li {
        font-size: 20px;
    }
    .enhancetxt p{
        font-size: 15px;
    }
    .appheading h2{
        font-size: 30px;
    }
    .installappbox{
        height: 120vh;
    }
    .appcards{
        flex-direction: column;
        flex-wrap: wrap;
    }
    .appcard1{
        width: 60vw;
        margin-right: 0px;
        margin-bottom: 50px;
    }
    .appcard1 a{
        height: 10vh;
    }
    .appcard1 img{
        width: 253px;
        height: 173px;
        margin-top: -89px;
    }
    .appcard1 h3{
        font-size: 28px;
    }
    .appcard1 ul{
        font-size: 12px;
        width: 60vw;
        line-height: 21px;
    }
    .appcard2{
        width: 60vw;
        margin-right: 0px;
        margin-bottom: 50px;
    }
    .appcard2 a{
        height: 10vh;
    }
    .appcard2 img{
        width: 160px;
        height: 115px;
        margin-top: -35px;
    }
    .appcard2 h3{
        font-size: 28px;
    }
    .appcard2 ul{
        font-size: 12px;
        width: 60vw;
        line-height: 21px;
    }
    .contactHeading h1{
        font-size: 35px;
    }
    .contactbox{
        width: 72vw;
        height: 50vh;
        margin-left:150px ;
        margin-top: 0px;
    }
    .ctopic{
        line-height: 10px;
    }
    .ctopic h3{
        font-size: 15px;
    }
    .ctopic p {
        font-size: 12px;
    }
    .contactbox1{
        height: 5vh;
    }
    
}

@media (min-width: 768px)
    and (max-width:1200px){
        .enhanceheading h2{
            font-size: 50px;
        }
        .enhanceheading p {
            font-size: 15px;
       }
       .appheading h2{
        font-size: 45px;
    }
    .appcard1{
        width: 40vw;
    }
    .appcard1 ul{
        font-size: 11px;
        width: 35vw;
    }
    .appcard1 h3{
        font-size: 25px;
    }
    .appcard2{
        width: 40vw;
    }
    .appcard2 ul{
        font-size: 11px;
        width: 35vw;
    }
    .appcard2 h3{
        font-size: 25px;
    }
    .contactHeading h1{
        font-size: 35px;
    }
    .contactbox{
        width: 72vw;
        height: 50vh;
        margin-left:150px ;
        margin-top: 0px;
    }
    .ctopic{
        line-height: 10px;
        width: 30vw;
    }
    .ctopic h3{
        font-size: 15px;
    }
    .ctopic p {
        font-size: 12px;
    }
    .contactbox1{
        height: 15vh;
        width: 35vw;
    }
    }